/*
Philippe Saxer
19.11.2025
Analog Clock
*/

.clock { /*For the whole Clock*/
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #ffffff;
}

.outer-clock-face { /*For the outer Clock face*/
  width: 200px;
  height: 200px;
  border: 4px solid aquamarine;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: turquoise; 
}

.marking-one {/*For the first marking*/
  width: 4px;
  height: 20px;
  background-color:darkgreen;
  position: absolute;
  transform: rotate(0deg) translateY(-90px);
}

.marking-two {/*For the second marking*/
  width: 4px;
  height: 20px;
  background-color: darkgreen;
  position: absolute;
  transform: rotate(90deg) translateY(-90px);
}

.marking-three {/*For the third marking*/
  width: 4px;
  height: 20px;
  background-color: darkgreen;
  position: absolute;
  transform: rotate(180deg) translateY(-90px);
}

.marking-four {/*For the fourth marking*/
  width: 4px;
  height: 20px;
  background-color: darkgreen;
  position: absolute;
  transform: rotate(270deg) translateY(-90px);
}

.inner-clock-face {/*For the inner Clock face*/
  background-color: rgb(64, 215, 200); 
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: relative;
}

.hour-hand {/*For the hour hand*/
  width: 4px;
  height: 50px;
  background-color: gold; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: bottom center;
  transform: translateX(-50%) translateY(-100%);
}

.min-hand {/*For the min hand*/
  width: 3px;
  height: 70px;
  background-color: gold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: bottom center;
  transform: translateX(-50%) translateY(-100%);
}

.second-hand {/*For the second hand*/
  width: 2px;
  height: 90px;
  background-color: goldenrod; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: bottom center;  
  transform: translateX(-50%) translateY(-100%);
}
